<?xml version="1.0"?>
<config>
    <modules>
        <Catalyst_MoodleConnector>
            <version>1.0.0</version>
        </Catalyst_MoodleConnector>
    </modules>
    <admin>
        <routers>
            <moodleconnector>
                <use>admin</use>
                <args>
                    <module>Catalyst_MoodleConnector</module>
                    <frontName>adminmoodleconnector</frontName>
                </args>
            </moodleconnector>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <moodleconnector>
                                            <title>Moodle Connector Settings</title>
                                        </moodleconnector>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <moodleconnector>
                <class>Catalyst_MoodleConnector_Helper</class>
            </moodleconnector>
        </helpers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <moodleconnector>
                        <type>model</type>
                        <class>Catalyst_MoodleConnector_Model_Observer</class>
                        <method>updateMoodle</method>
                    </moodleconnector>
                </observers>
            </checkout_submit_all_after>
        </events>
        <resources>
            <moodleconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </moodleconnector_write>
            <moodleconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </moodleconnector_read>
        </resources>
    </global>
</config>
